.header{
    width:1295px;
    height:90px;   
    background-color:bisque;
   
}
h1{
    text-align: center;
    font-family: Arial;
    font-style: italic;
}


.footer{
    width:1295px;
    height:50px;
    background-color:bisque;
}

.carousel-item{
    text-align: center;
    text-decoration: white;
    font-family: Verdana;
}
div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
